@tailwind base;
@tailwind components;


.background-gradient-rtl {
    background: rgb(199, 215, 252);
    background: linear-gradient(86deg, rgba(199, 215, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.height{
    height: 750px;
}
.height-guide{
    height: 150px;
}

.width-boy{
    width: 500px;
    height: 700px;
}
.width-girl{
    width: 500px;
    height: 500px;
}
.web-sizing{
    width: 600px;
    height: 480px;
}
.width-Travel{
    width: 600px
}
.top-picture{
    width: 500px
}




@tailwind utilities;